html {
    position: relative;
    min-height: 100%;
}
body {
    background: #fff;
    margin-bottom: 60px;
    font-family: "Overpass","Open Sans",Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
}
body, h1, h2, h3 {
    font-weight: 400;
}

.btn {
    background: #c00;
    text-decoration: none;
    border: 0;
}

.btn-primary {
    margin-top: 1em;
    background: #c00;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    line-height: 1.44;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

button kbd {
    background: none;
    margin-left: 0.5em;
    box-shadow: none;
}

.project-info {
    margin: 1em;
}

.app-header {
    color: #eee;
    background-color: #000000;
    font-size: 25px;
    padding: 0.5em 0;
    border-top: 4px solid #c00;
}

.app-header h1 {
    text-transform: uppercase;
}

.app-header small {
    text-transform: none;
    font-size: 50%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-bottom: 4px solid #c00;
    color: #eee;
    padding: 20px 0;
}

span .app-title {
    text-transform: uppercase;
}

.close:hover {
 color: #fff;
}

.tag {
    background-color: #c00;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    display: inline-block;
    padding: 0.4em 0.7em;
    margin: 0.2em;
}

.tag .close {
    float: none;
    margin-left: 0.2em;
}

/* Dependencies Searcher */
#depsList, .twitter-typeahead, .tt-hint {
    width: 100%;
}

.tt-query {
    width: 550px;
}

.tt-query,
.tt-hint {
    height: 34px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

#autocomplete:focus {
    border: 2px solid #c00;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 550px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 4px 20px;
    font-size: 16px;
    line-height: 22px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #000;
}

.tt-footer {
    padding: 6px 20px 0px 20px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    font-style: italic;
    border-top: 1px solid #c00;
}

/* End Dependencies Searcher */

footer a:link,footer a:hover, footer a:focus {
    color: #858585;
}
