<!DOCTYPE html>
<html lang="en">
<head>
    <title>CheBootializr:: Red Hat Developers</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/chebootializr.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form id="projectForm" action="/{{defaultAction}}" method="get" role="form" target="_blank">
    <div class="container-fluid">
        <div class="row app-header">
            <div class="container">
                <h1>CheBootializr
                    <small>bootstrap Spring Boot with Eclipse Che</small>
                </h1>
            </div>
        </div>

        <!-- Start Project Content -->
        <div class="container start-main">
            <input id="baseDir" name="baseDir" type="hidden" value="{{artifactId.content}}">
            <!-- Project Type :: Defaults to maven -->
            {{#types.content}}
            {{#default}}
            <input id="type" name="type" type="hidden" value="{{id}}"/>
            {{/default}}
            {{/types.content}}

            <!-- Project Language :: Defaults to Java -->
            {{#languages.content}}
            {{#default}}
            <input id="language" name="language" type="hidden" value="{{id}}"/>
            {{/default}}
            {{/languages.content}}

            <!-- Project Language :: Defaults to 1.5.7 -->
            {{#bootVersions.content}}
            {{#default}}
            <input id="bootVersion" name="bootVersion" type="hidden" value="{{id}}"/>
            {{/default}}
            {{/bootVersions.content}}

            <div class="row">
                <h3>Catalog</h3>
                <div id="noCatalog" class="alert alert-info ">Catalogs will be loaded, please wait</div>
                <div id="catalogs">
                    <!-- Will be filled Dynamically -->
                </div>
            </div>

            <!-- Start Basic Row-->
            <div class="row">

                <div class="col-sm-12 col-md-6">

                    <h3>Project Details</h3>

                    <div class="form-group cord-artifact-groupid-group">
                        <label for="groupId" class="control-label">{{groupId.title}}</label>
                        <input tabindex="4" id="groupId" name="groupId" class="form-control"
                               value="{{groupId.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-group">
                        <label for="artifactId" class="control-label">{{artifactId.title}}</label>
                        <input tabindex="5" id="artifactId" name="artifactId" class="form-control"
                               value="{{artifactId.content}}"/>
                    </div>

                    <div id="projectAdvDetails" class="row panel-group">
                        <!-- Advanced Project Details -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#projectAdvDetails" href="#prjAdvDetails">
                                        <span class="glyphicon glyphicon-plus"></span>Advanced
                                    </a>
                                </h4>
                            </div>
                            <div id="prjAdvDetails" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group cord-artifact-group">
                                        <label for="name" class="control-label">{{name.title}}</label>
                                        <input tabindex="6" id="name" name="name" class="form-control"
                                               value="{{name.content}}"/>
                                    </div>
                                    <div class="form-group cord-artifact-description-group ">
                                        <label for="description" class="control-label">{{description.title}}</label>
                                        <input tabindex="7" id="description" name="description" class="form-control"
                                               value="{{description.content}}"/>
                                    </div>
                                    <div class="form-group cord-artifact-package-group">
                                        <label for="packageName" class="control-label">{{packageName.title}}</label>
                                        <input tabindex="8" id="packageName" name="packageName" class="form-control"
                                               value="{{packageName.content}}"/>
                                    </div>
                                    <div class="form-group cord-artifact-packaging-group">
                                        <label for="packaging" class="control-label">{{packagings.title}}</label>
                                        <select tabindex="9" id="packaging" name="packaging" class="form-control">
                                            {{#packagings.content}}
                                            <option value="{{id}}" {{#default}}selected{{
                                            /default}}>{{name}}</option>
                                            {{/packagings.content}}
                                        </select>
                                    </div>
                                    <div class="form-group cord-artifact-package-group">
                                        <label for="javaVersion" class="control-label">{{javaVersions.title}}</label>
                                        <select tabindex="10" id="javaVersion" name="javaVersion" class="form-control">
                                            {{#javaVersions.content}}
                                            <option value="{{id}}" {{#default}}selected{{
                                            /default}}>{{name}}</option>
                                            {{/javaVersions.content}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Dependencies</h3>
                    <p>Spring Boot starters and Dependencies that might be required for your application</p>
                    <div class="form-group">
                        <label for="depsList" class="control-label">Search and Add Dependencies</label>
                        <input tabindex="11" id="depsList" class="form-control"
                               placeholder="Web, Security, Template, Devtools, Actuator ..."
                               name="depsList"/>
                    </div>
                    <div class="form-group">
                        <label for="depsTags" class="control-label">Selected Dependencies</label>
                        <div id="depsTags">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="text-center">
                    <button name="genproject" tabindex="12" name="generate-project" class="btn btn-lg btn-primary">
                        Generate Project
                    </button>
                </p>
            </div>
            <!-- End Basic Row-->

            <div id="dependenciesAdvDetails" class="row panel-group">
                <!-- Advanced Project Details -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#dependenciesAdvDetails" href="#depsAdvDetails">
                                <span class="glyphicon glyphicon-plus"></span>Want to configure more dependency details?
                            </a>
                        </h4>
                    </div>
                    <div id="depsAdvDetails" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                {{#dependencies.content}}
                                <div class="form-group col-sm-6">
                                    <h3>{{name}}</h3>
                                    {{#content}}
                                    <div class="checkbox"
                                         data-range="{{#versionRange}}{{versionRange}}{{/versionRange}}">
                                        <label>
                                            <input tabindex="13" type="checkbox" name="style" value="{{id}}">{{name}}
                                            <p class="help-block">{{#description}}{{.}}{{/description}}</p>
                                            {{#versionRequirement}}
                                            <p class="help-block version-requirement">requires Spring Boot {{.}}</p>
                                            {{/versionRequirement}}
                                        </label>
                                    </div>
                                    {{/content}}
                                </div>
                                {{/dependencies.content}}
                            </div>

                            <div class="row">
                                <p class="text-center">
                                    <button name="genproject" tabindex="14" class="btn btn-lg btn-primary">
                                        Generate Project
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<footer>
    <div class="container">
        <p><span class="app-title">CheBootializr</span> is powered by <a
                href="https://github.com/spring-io/initializr/">Spring Initializr</a>
            and <a href="https://developers.redhat.com">Red Hat Developers</a></p>
    </div>
</footer>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/typeaheadjs/typeahead.bundle.min.js"></script>
<script src="/webjars/mustache/mustache.min.js"></script>
<script src="/js/asciidoctor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
