<!DOCTYPE html>
<html lang="en">
<head>
    <title>CheBootializr:: Red Hat Developers</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/chebootializr.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form id="projectForm" action="/{{defaultAction}}" method="get" role="form" target="_blank">
    <div class="container-fluid">
        <div class="row app-header">
            <div class="container">
                <h1>CheBootializr
                    <small>bootstrap Spring Boot with Eclipse Che</small>
                </h1>
            </div>
        </div>

        <!-- Start Project Content -->
        <div class="container start-main">
            <!-- Select Project, language , type and boot version-->
            <div class="row form-inline text-center">
                <div class="form-group">
                    <h3>
                        <span class="project-info">
                            <label id="lblType" for="type">Generate a</label>
                            <select id="type" class="form-control" name="type" tabindex="1">
                                {{#types.content}}
                                <option data-action="{{action}}" value="{{id}}" {{#default}}selected{{/default}}>{{name}}</option>
                                {{/types.content}}
                            </select>
                            <label id="lblLanguage" for="language">With</label>
                            <select id="language" class="form-control" name="language" tabindex="2">
                                {{#languages.content}}
                                <option value="{{id}}" {{#default}}selected{{/default}}>{{name}}</option>
                                {{/languages.content}}
                            </select>
                            <label id="lblBootVersion" for="bootVersion">Version</label>
                            <select id="bootVersion" class="form-control" name="bootVersion" tabindex="2">
                                {{#bootVersions.content}}
                                <option value="{{id}}" {{#default}}selected{{/default}}>{{name}}</option>
                                {{/bootVersions.content}}
                            </select>
                        </span>
                    </h3>
                </div>
            </div>
            <input id="baseDir" name="baseDir" type="hidden" value="{{artifactId.content}}">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3>Project Details</h3>
                    <div class="form-group cord-artifact-groupid-group">
                        <label for="groupId" class="control-label">{{groupId.title}}</label>
                        <input tabindex="4" id="groupId" name="groupId" class="form-control"
                               value="{{groupId.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-group">
                        <label for="artifactId" class="control-label">{{artifactId.title}}</label>
                        <input tabindex="5" id="artifactId" name="artifactId" class="form-control"
                               value="{{artifactId.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-group hidden">
                        <label for="name" class="control-label">{{name.title}}</label>
                        <input tabindex="6" id="name" name="name" class="form-control" value="{{name.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-description-group hidden">
                        <label for="description" class="control-label">{{description.title}}</label>
                        <input tabindex="7" id="description" name="description" class="form-control"
                               value="{{description.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-package-group hidden">
                        <label for="packageName" class="control-label">{{packageName.title}}</label>
                        <input tabindex="8" id="packageName" name="packageName" class="form-control"
                               value="{{packageName.content}}"/>
                    </div>
                    <div class="form-group cord-artifact-packaging-group hidden">
                        <label for="packaging" class="control-label">{{packagings.title}}</label>
                        <select tabindex="9" id="packaging" name="packaging" class="form-control">
                            {{#packagings.content}}
                            <option value="{{id}}" {{#default}}selected{{/default}}>{{name}}</option>
                            {{/packagings.content}}
                        </select>
                    </div>
                    <div class="form-group cord-artifact-package-group hidden">
                        <label for="javaVersion" class="control-label">{{javaVersions.title}}</label>
                        <select tabindex="10" id="javaVersion" name="javaVersion" class="form-control">
                            {{#javaVersions.content}}
                            <option value="{{id}}" {{#default}}selected{{/default}}>{{name}}</option>
                            {{/javaVersions.content}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Dependencies</h3>
                    <p>Spring Boot starters and Dependencies that might be required for your application</p>
                    <div class="form-group">
                        <label for="depsList" class="control-label">Search and Add Dependencies</label>
                        <input tabindex="11" id="depsList" class="form-control"
                               placeholder="Web, Security, Template, Devtools, Actuator ..."
                               name="depsList"/>
                    </div>
                    <div class="form-group">
                        <label for="depsTags" class="control-label">Selected Dependencies</label>
                        <div id="depsTags">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End  Project Content -->
        <div class="row full">
            <p class="text-center">
                <button id="genproject" tabindex="14" name="generate-project" class="btn btn-lg btn-primary">
                    Generate Project
                </button>
            </p>
        </div>
    </div>
</form>
<footer>
    <div class="container">
        <p><span class="app-title">CheBootializr</span> is powered by <a
                href="https://github.com/spring-io/initializr/">Spring Initializr</a>
            and <a href="https://developers.redhat.com">Red Hat Developers</a></p>
    </div>
</footer>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/typeaheadjs/typeahead.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
