<!DOCTYPE html>
<html lang="en">
<head>
    <title>CheBootializr:: Red Hat Developers</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/chebootializr.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{#projectInfo}}
<div class="container-fluid">
    <div class="row app-header">
        <div class="container">
            <h1>CheBootializr
                <small>bootstrap Spring Boot with Eclipse Che</small>
            </h1>
        </div>
    </div>
    <div class="container start-main">
        <div class="alert alert-success fade in">
            <strong>Successfully generated project {{name}}</strong>, you will be redirected to your
            <a href="#{{workspaceUrl}}" target="_blank" class="alert-link">workspace</a> im few seconds.
        </div>
    </div>
</div>
{{/projectInfo}}
<footer>
    <div class="container">
        <p><span class="app-title">CheBootializr</span> is powered by <a
                href="https://github.com/spring-io/initializr/">Spring Initializr</a>
            and <a href="https://developers.redhat.com">Red Hat Developers</a></p>
    </div>
</footer>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
